.table-list {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 80%;
}

.return-book-button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    color: cornflowerblue;
}

.paid-button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    color: red;
}

.id-search-box {
    width: 300px;
}