.login-form-design {
    margin: 50px;
}

.forget-button {
    border: none;
    background: none;
}

.user-forget-password-link {
    color: red;
    margin-left: 20px;
}

.warn-text-whole-box {
    margin-top: 10px;
    margin-right: 80px;
}

.warn-text-box {
    float: right;
}